.add-button {
    position: fixed;
    bottom: 60px;
    width: 50px;
    height: 50px;
    right: 15px;
    border-radius: 50%;
}

.imgPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagInfo {
    font-size: 13px;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
    color: white;
    background-color: cornflowerblue;
    margin-top: -5px;
}